/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
     Так стили написанные ниже будут иметь больший вес,
     чем стили в медиазапросе предпочтений пользователя
  */

  --text-color: #f1b2ce;          /* основной цвет текста */
  --header-menu-color: rgba(255 0 112 0.4); /* цвет фона при наведении на пункты меню в шапке */
  --background-color: #000028;         /* цвет фона страницы */
  --accent-heading-color: #000028;     /* цвет заголовков */
  --accent-color: #ff0070;            /* цвет для кнопок*/
  --heading-color: #ff0070;          /* цвет основных заголовков */
  --additional-elements: #353430;      /* цвет линий, иконок, границ */
}

@media (width >= 768px) {

  .page.theme_dark {
    background-image: url(../images/cover-image-dark.png);
  }
}

