/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #353430;          /* основной цвет текста */
  --header-menu-color: rgba(50 49 45 0.4); /* цвет фона при наведении на пункты меню в шапке */
  --background-color: white;         /* цвет фона страницы */
  --accent-heading-color: #353430;     /* цвет заголовков */
  --accent-color: #ff8dcb;            /* цвет для кнопок*/
  --heading-color: #353430;            /* цвет основных заголовков */
  --additional-elements: #353430;      /* цвет линий, иконок, границ */

}

.page.theme_light .header__decorated-element {
  display: none;
}

.page.theme_light .decorated-heading {
  color: #ffc2e6;
}

@media (width >= 768px) {

  .page.theme_light {
    background-image: url(../images/cover-image-light.png);
  }
}
